{% extends 'base.html.twig' %}

{% block body %}
    <h2>This is the tables page</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jim</td>
            <td>22</td>
        </tr>
    </table>
{% endblock %}